<p>
  <a href="/new">글쓰러 가기</a>
</p>
<% @posts.each do |p| %>
<p> <%=p.id %> </p>
<p> <%=p.title %> </p>
<p> <%=p.content %> </p>
<p> <%=p.created_at %> </p>
<p> <a href="/posts/<%=p.id%>">글보기.R</a> </p>
<p> <a href="/edit/<%= p.id%>">수정 .U</a> </p>
<p> <a href="/destroy/<%= p.id%>"> 삭제 .D</a> </p>
<% end %>
